*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins", sans-serif;
}
body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background:rgb(216, 225, 216);
}
.containor{
    position:relative;
    max-width:300px;
    width:100%;
    border-radius:12px;
    padding: 10px 20px 20px;
    background:#a7c2ca
  
}
.display{
    height:80px;
    width:100%;
    outline:none;
    border: none;
    text-align:right;
    margin-bottom:10px;
    font: size 25px;
    color:black;
    pointer-events: none;
}
.buttons{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(4,1fr);

}
.buttons button{
    padding:10px;
    border-radius:6px;
    border:none;
    font-size:20px;
    cursor:pointer;
background-color:beige;

}
.buttons button:active{
    TRANSFORM:SCALE(0.99);
}
.operator{
    color: rgb(142, 152, 152);
    background-color: rgb(194, 166, 110);
}